.App {
  width: 100%;
  height: auto;
  text-align: center;
  background-size: contain;
}
.img{
  flex: 1;
  width: 50%;
  height: 50%;
  filter: opacity(80%);
}
.samp {
  flex: 1;
  filter: contrast(125%);
  filter: brightness(125%);
  filter: drop-shadow(120%);
  filter: opacity(100%);
  background-position: center;
  break-after: avoid-page;
}
